{% extends "bugtracker/index.html" %}
{% block content %}
    <h3>Perfil</h3>
    <ul>
        <li>Usuario: {{ user.username }}</li>
        <li>Nombres: {{ user.first_name }}</li>
        <li>Apellidos: {{ user.last_name }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Ultimo login: {{ user.last_login }}</li>
    </ul>
    <a class="btn btn-default" href="{% url 'update_user' %}">
        <i class="fa fa-user"></i> Actualizar mis datos
    </a>
    <a class="btn btn-default" href="{% url 'update_password' %}">
        <i class="fa fa-key"></i> Cambiar contraseña
    </a>
    <hr>
{% endblock %}