{% extends "bugtracker/index.html" %}
{% block content %}
    <h3>Actualización de datos</h3>
    <div class="row">

        {% if message %}
            <p class="text-primary">{{ message }}</p>
        {% endif %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="input-field col-sm-12 col-md-12 col-lg-12">
                    <label>Password actual:</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Nuevo password:</label>
                    {{ form.new_password }}
                    {{ form.new_password.errors }}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Repita nuevo password:</label>
                    {{ form.repeat_password }}
                    {{ form.repeat_password.errors }}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <hr>
                    <button type="submit" class="btn btn-success btn-sm">Guardar datos</button>
                    <a class="btn btn-default btn-sm" href="{{request.META.HTTP_REFERER}}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}