{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BugTracker{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}" />
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% endblock %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container">
        <img src="{% static 'img/logo_sm.png' %}" title="Udes" />
    </div>
    <div class="container">
        {% block body %}
            {% block nav %}{% endblock %}
            {% block content %}{% endblock %}
            {% block footer %}
                <footer class="footer">
                    <p class="text-muted">Sistemas de información UDES.</p>
                </footer>
            {% endblock %}
        {% endblock %}
    </div>
    {% block javascript %}
        <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>