{% extends "bugtracker/index.html" %}
{% block content %}
    <h3>Registrar incidencia</h3>

    {% include "includes/messages.html" %}

    <div class="row">
        <form id="issue-udapte-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="input-field col-sm-12 col-md-12 col-lg-12">
                    <label>Título:</label>
                    {{ form.issue }}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Descripción:</label>
                    {{ form.description }}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Pasos para reproducirlo:</label>
                    {{ form.steps_to_reproduce }}
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 file-field input-field">
                  <div class="btn-flat">
                    <span>Imagen1 (Opcional)</span>
                    {{ form.image1 }}
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 file-field input-field">
                  <div class="btn-flat">
                    <span>Imagen2 (Opcional)</span>
                    {{ form.image2 }}
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">

                <label>Software:</label>
                {{ form.software }}

                <label>Sede:</label>
                {{ form.headquarter }}

                <label>Navegador:</label>
                {{ form.browser }}

                <label>Sistema operativo:</label>
                {{ form.os }}

                <label>Prioridad:</label>
                {{ form.priority }}

                <label>Tipo:</label>
                {{ form.type_issue }}

                <label>Categoría:</label>
                {{ form.category_issue }}

                <label>Reproducibilidad:</label>
                {{ form.reproducibility_issue }}

            </div>
            <input type="hidden" id="is_admin" value="false">
            <a href="{% url 'home' %}" id="btn-to-back" class="btn btn-primary notify">
                <i class="fa fa-arrow-left"></i> Volver
            </a>
            <button class="btn btn-success notify" type="button" id="btn-to-save" onclick="validateFormNewUpdateIssue()">
              <i class="fa fa-save"></i> Actualizar incidencia
            </button>
        </form>
    </div>

{% endblock %}
