{% extends "bugtracker/index.html" %}
{% block content %}
    <div class="page-header">
        <h3>Incidencia #{{ issue.id }}</h3>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            {% if issue.evaluation_comments %}
                <div class="panel panel-default panel-danger" style="background-color: #ffe6e6; margin-bottom: 10px;">
                    <div class="panel-body">
                        <strong>
                            <i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i>
                            La incidencia se encuentra en estado:
                            <i>'{{ issue.status.status|default_if_none:"Nueva" }}'</i>.
                            <br>
                            Concepto: {{ issue.evaluation_comments }}
                        </strong>
                    </div>
                </div>
            {% endif %}

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Reportado por:</th>
                        <td>{{ issue.reporter }}</td>
                    </tr>
                    <tr>
                        <th>Título:</th>
                        <td>{{ issue.issue }}</td>
                    </tr>
                    <tr>
                        <th>Descripción:</th>
                        <td>{{ issue.description }}</td>
                    </tr>
                    <tr>
                        <th>Pasos para replicar:</th>
                        <td>{{ issue.steps_to_reproduce }}</td>
                    </tr>
                    <tr>
                        <th>Reproducibilidad:</th>
                        <td>{{ issue.reproducibility_issue }}</td>
                    </tr>
                    <tr>
                        <th>Software:</th>
                        <td>{{ issue.software }}</td>
                    </tr>
                    <tr>
                        <th>Navegador:</th>
                        <td>{{ issue.browser }}</td>
                    </tr>
                    <tr>
                        <th>Sistema operativo:</th>
                        <td>{{ issue.os }}</td>
                    </tr>
                    <tr>
                        <th>Sede:</th>
                        <td>{{ issue.headquarter }}</td>
                    </tr>
                    <tr>
                        <th>Prioridad:</th>
                        <td>{{ issue.priority }}</td>
                    </tr>
                    <tr>
                        <th>Tipo:</th>
                        <td>{{ issue.type_issue }}</td>
                    </tr>
                    <tr>
                        <th>Estado:</th>
                        <td>
                            {% if issue.status %}
                                {{ issue.status }}
                            {% else %}
                                Nueva
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Asignada a:</th>
                        <td>
                            {% if issue.dev %}
                                {{ issue.dev }}
                            {% else %}
                                No asignada
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Ticket:</th>
                        <td>
                            {% if issue.ticket %}
                                {{ issue.ticket }}
                            {% else %}
                                No asignado
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Categoría:</th>
                        <td>
                            {{ issue.category_issue }}
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha creación:</th>
                        <td>{{ issue.created_at }}</td>
                    </tr>
                    <tr>
                        <th>Fecha ult. modif.:</th>
                        <td>{{ issue.updated_at }}</td>
                    </tr>
                    {% if issue.image1 %}
                        <tr>
                            <th>Imagen 1:</th>
                            <td>
                                <small class="text-muted">
                                    {{ issue.image1 }} |
                                    <a href="{{ MEDIA_URL }}{{ issue.image1 }}" target="_blank">Ver imagen.</a>
                                </small>
                            </td>
                        </tr>
                    {% endif %}
                    {% if issue.image2 %}
                        <tr>
                            <th>Imagen 2:</th>
                            <td>
                                <small class="text-muted">
                                    {{ issue.image2 }} |
                                    <a href="{{ MEDIA_URL }}{{ issue.image2 }}" target="_blank">Ver imagen.</a>
                                </small>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-6">
            {% if issue.image1 %}
                <figure>
                    <img class="img-responsive img-rounded" src="{{ MEDIA_URL }}{{ issue.image1 }}">
                    <figcaption>
                        <small class="text-muted">
                            {{ issue.image1 }}
                            <a href="{{ MEDIA_URL }}{{ issue.image1 }}" target="_blank">Ver imagen.</a>
                        </small>
                    </figcaption>
                </figure>
                <hr>
            {% endif %}
            {% if issue.image2 %}
                <figure>
                    <img class="img-responsive img-rounded" src="{{ MEDIA_URL }}{{ issue.image2 }}">
                    <figcaption>
                        <small class="text-muted">
                            {{ issue.image2 }}
                            <a href="{{ MEDIA_URL }}{{ issue.image2 }}" target="_blank">Ver imagen.</a>
                        </small>
                    </figcaption>
                </figure>
            {% endif %}

        </div>

    </div>

    <div class="col-md-10 col-md-offset-1">

        <a class="btn btn-default" href="{{request.META.HTTP_REFERER}}">
            <i class="fa fa-reply"></i> Volver
        </a>

        <a class="btn btn-primary" href="{% url 'update' issue.id %}">
            <i class="fa fa-edit"></i> Editar
        </a>

        {% if issue.status.id == 5 %}
            {% if is_evaluated is not True %}
                {% if issue.reporter_id == user.id %}
                  <a class="btn btn-info" data-toggle="modal" data-target="#myModalEv">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Evaluar
                  </a>
                {% endif %}
            {% else %}
                <a class="btn btn-info" disabled>
                  <i class="fa fa-eye-slash" aria-hidden="true"></i> Ya se ha evaluado...
                </a>
                {% for g in request.user.groups.all %}
                    {% if "ResultsEvaluation" == g.name %}
                      <a class="btn btn-info" data-toggle="modal"
                        data-target="#myModalEvResults" onclick="getEvaluationDataById('{{ issue.id }}')">
                          <i class="fa fa-eye"></i> Resultados de Evaluación
                      </a>
                      <input type="hidden" id="url_get_issue_details"
                        value="{% url 'issue_evaluation_result_results' issue.id %}">
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        <br>
        <br>
    </div>
    <div class="col-md-12">
        <hr>
        <div class="panel panel-primary">
            <a class="btn btn-default pull-right" data-toggle="modal"
                                                        data-target="#myModal">
                <i class="fa fa-th-list"></i> Agregar Comentario
            </a>
            <div class="panel-heading">
                <strong>Comentarios registrados</strong>

            </div>
            <div class="panel-body" style="max-height: 400px; overflow: scroll;">
                <div id="list-comments"></div>
                <div id="content-comments">
                    {% for comment in comments %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                {{ comment.user.first_name }}
                                {{ comment.user.last_name }}
                                </br>
                                <small>
                                    {{ comment.created_at | date:"d/m/Y H:i" }}
                                </small>
                            </div>
                            <div class="panel-body" >
                                {{ comment.comment }}
                            </div>
                        </div>
                    {% empty %}
                        <span class="label label-warning">
                            No se han registrado comentarios
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}
