{% extends "base.html" %}
{% block nav %}
    {% include "includes/menu.html" %}
{% endblock %}

{% block content %}
    {% if evalue %}

    {% else %}
        <h4 style="color: red">Tiene incidencias pendientes por evaluar.</h4>

    {% endif %}
    <div class="row login-panel">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            Incidencias por estado
                        </li>
                        {% for s_i in status_issues %}
                            <li class="list-group-item">
                                <span class="badge">{{ s_i.total }}</span>
                                <a href="{% url 'home' %}?status={{ s_i.status_id }}"
                                    data-toggle="tooltip" data-placement="top" title="Ver lista">
                                    {{ s_i.status__status }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            Incidencias por prioridad
                        </li>
                        {% for p_i in priority_issues %}
                            <li class="list-group-item">
                                <span class="badge">{{ p_i.total }}</span>
                                <a href="{% url 'home' %}?priority={{ p_i.priority__id }}"
                                    data-toggle="tooltip" data-placement="top" title="Ver lista">
                                    {{ p_i.priority__priority }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            Incidencias por tipo
                        </li>
                        {% for t_i in type_issues %}
                            <li class="list-group-item">
                                <span class="badge">{{ t_i.total }}</span>
                                <a href="{% url 'home' %}?type_issue={{ t_i.type_issue_id }}"
                                    data-toggle="tooltip" data-placement="top" title="Ver lista">
                                    {{ t_i.type_issue__type_issue }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
