{% extends "base.html" %}
{% block nav %}
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"> AXL</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'logout' %}">Salir</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h3>Incidencias</h3>
    <table class="table-of-contents">
        <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Prioridad</td>
            <td>Tipo</td>
            <td>Estado</td>
        </tr>
        </thead>
        <tbody>
        {% for issue in object_list %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.issue }}</td>
                <td>{{ issue.priority }}</td>
                <td>{{ issue.type_issue }}</td>
                <td>{{ issue.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
