{% extends "bugtracker/index.html" %}
{% block content %}
    <div class="page-header">
        <h1>
            <i class="fa fa-bug"></i>
            Incidencias <small>Errores, ajustes ó mejoras</small>
            <a href="{% url 'create' %}" class="btn btn-success pull-right">
                <i class="fa fa-plus-circle"></i> Reportar incidencia
            </a>
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form class="form-inline" action="" method="get" novalidate>
                <div class="form-group">
                    <strong>Filtrar:</strong>
                </div>
                <div class="form-group">
                    {{ form_search.issue }}
                </div>
                <div class="form-group">
                    {{ form_search.priority }}
                </div>
                <div class="form-group">
                    {{ form_search.type_issue }}
                </div>
                <div class="form-group">
                    {{ form_search.software }}
                </div>
                <div class="form-group">
                    {{ form_search.headquarter }}
                </div>
                <div class="form-group">
                    {{ form_search.browser }}
                </div>
                <div class="form-group">
                    {{ form_search.status }}
                </div>
                <button type="submit" class="btn btn-default btn-sm">
                    <i class="fa fa-search"></i> Filtrar
                </button>
            </form>
        </div>
    </div>
    <hr>
    {% if object_list %}
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th style="width: 50px">ID</th>
                    <th>Nombre</th>
                    <th>Prioridad</th>
                    <th>Tipo</th>
                    <th>Sistema</th>
                    <th>Sede</th>
                    <th>Estado</th>
                    <th style="width: 90px">Gestión</th>
                </tr>
            </thead>
            <tbody>
            {% for issue in object_list %}
                <tr>
                    <td>{{ issue.id }}</td>
                    <td>{{ issue.issue }}</td>
                    <td>{{ issue.priority }}</td>
                    <td>{{ issue.type_issue }}</td>
                    <td>{{ issue.software }}</td>
                    <td>{{ issue.headquarter }}</td>
                    <td>
                        {% if issue.status %}
                            {{ issue.status }}
                        {% else %}
                            Nueva
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-default btn-xs" title="Ver"
                            href="{% url 'detail' issue.id %}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a class="btn btn-default btn-xs" title="Editar"
                            href="{% url 'update' issue.id %}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p class="text-info">No se encontraron incidencias.</p>
    {% endif %}

{% endblock %}
