{% extends "bugtracker/index.html" %}

{% block content %}

    <div class="page-header">
        <h1>
            <i class="fa fa-bug"></i>
            Incidencias <small>Errores, ajustes ó mejoras</small>
            <a href="{% url 'create' %}" class="btn btn-success btn-sm pull-right">
                <i class="fa fa-plus-circle"></i> Reportar incidencia
            </a>
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form class="form-inline" action="" id="filter" method="get" novalidate>
                <div class="form-group">
                    <strong>Filtrar:</strong>
                </div>
                <div class="form-group">
                    <input class="form-control input-sm"
                           id="id" maxlength="300"
                           name="id" placeholder="Buscar por ID"
                           type="number" required="">
                </div>
                <div class="form-group">
                    {{ form_search.issue }}
                </div>
                <div class="form-group">
                    {{ form_search.type_issue }}
                </div>
                <div class="form-group">
                    {{ form_search.priority }}
                </div>
                <div class="form-group">
                    {{ form_search.status }}
                </div>
                <div class="form-group">
                    {{ form_search.software }}
                </div>
                <div class="form-group">
                    {{ form_search.headquarter }}
                </div>
                <div class="form-group">
                    {{ form_search.browser }}
                </div>

                {% if user.is_superuser %}
                <div class="form-group">
                    {{ form_search.reporter }}
                </div>
                {% endif %}
                {% if is_dev %}
                    <div class="form-group">
                        {{ form_search.dev }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <select name="date" id="date" class="form-control">
                        <option value="">-- Fecha</option>
                        <option value="asc">Ascendente</option>
                        <option value="dsc">Descendente</option>
                    </select>
                </div>
                <div class="form-group well well-sm" style="padding: 3px;">
                    <label for="id_is_closed">
                        {{ form_search.is_closed }} Ver cerradas
                    </label>
                </div>
                <button type="submit" class="btn btn-default btn-sm">
                    <i class="fa fa-search"></i> Filtrar
                </button>
                <button type="button" onclick="excel('2')" class="btn btn-success btn-sm">
                    <i class="fa fa-file-excel-o"></i> Ver en Excel
                </button>
            </form>

        </div>
    </div>
    <hr>

    {% include "includes/messages.html" %}

    {% if object_list %}
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="text-center" style="width: 35px">ID</th>
                    <th class="text-center" style="width: 30px">Tipo</th>
                    <th class="text-center" style="width: 30px">Pri.</th>
                    <th>Nombre</th>
                    <th>Sistema</th>
                    <th>Sede</th>
                    <th>Estado</th>
                    <th>Reportada</th>
                    <th class="text-center" style="width: 90px">Gestión</th>
                </tr>
            </thead>
            <tbody>
            {% for issue in object_list %}
                <tr style="background-color: {{ issue.priority.bg_color }}">
                    <td class="text-center">{{ issue.id }}</td>
                    <td class="text-center">
                        <i class="fa fa-{{ issue.type_issue.fa_icon }}"
                           data-toggle="tooltip" data-placement="top"
                           title="{{ issue.type_issue }}"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-{{ issue.priority.fa_icon }}"
                           data-toggle="tooltip" data-placement="top"
                           title="{{ issue.priority }}"></i>
                    </td>
                    <td>{{ issue.issue }}</td>
                    <td>{{ issue.software }}</td>
                    <td>{{ issue.headquarter }}</td>
                    <td>
                        {{ issue.status }}
                        {% if issue.evaluation_comments or issue.dev %}
                            -
                            {% if issue.evaluation_comments %}
                                <i class="fa fa-commenting-o" data-toggle="tooltip" data-placement="top"
                               title="Comentarios: {{ issue.evaluation_comments }}"></i>
                            {% endif %}
                            {% if issue.dev %}
                                <i class="fa fa-drivers-license-o" data-toggle="tooltip" data-placement="top"
                               title="Asignado a: {{ issue.dev }}"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ issue.created_at | date:"d/m/Y H:i" }}</td>
                    <td class="text-center">
                        <a class="btn btn-default btn-xs" title="Ver"
                           data-toggle="tooltip" data-placement="top"
                            href="{% url 'detail' issue.id %}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a class="btn btn-default btn-xs" title="Editar"
                           data-toggle="tooltip" data-placement="top"
                            href="{% url 'update' issue.id %}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'includes/pagination.html' %}

    {% else %}
        <p class="text-info">No se encontraron incidencias.</p>
    {% endif %}

{% endblock %}
