{% extends "base.html" %}
{% block nav %}
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"> AXL </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'logout' %}">Salir</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h3>Actualizar incidencia</h3>
    <div class="row">
        <form action="" method="post">
            {% csrf_token %}
            <div class="col l6 m6 s12">
                <div class="input-field col s12 m12 l12">
                    {{ form.issue }}
                    <label>Título:</label>
                </div>
                <div class="col s12 m12 l12">
                    <label>Descripción:</label>
                    {{ form.description }}
                </div>
                <div class="col s12 m12 l12 file-field input-field">
                  <div class="btn-flat">
                    <span>Imagen1 (Opcional)</span>
                    {{ form.image1 }}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                <div class="col s12 m12 l12 file-field input-field">
                  <div class="btn-flat">
                    <span>Imagen2 (Opcional)</span>
                    {{ form.image2 }}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            </div>
            <div class="col l6 m6 s12">
                <div class="input-field">
                    {{ form.software }}
                    <label>Software:</label>
                </div>
                <div class="input-field">
                    {{ form.headquarter }}
                    <label>Sede:</label>
                </div>
                <div class="input-field">
                    {{ form.browser }}
                    <label>Navegador:</label>
                </div>
                <div class="input-field">
                    {{ form.priority }}
                    <label>Prioridad:</label>
                </div>
                <div class="input-field">
                    {{ form.type_issue }}
                    <label>Tipo:</label>
                </div>
            </div>

            <input class="btn" type="submit" value="Actualizar incidencia">
        </form>
    </div>

{% endblock %}
