{% extends "bugtracker/index.html" %}
{% block content %}
<h3 class="text-center">Actualizar incidencia: #{{ issue.id }}</h3>
    <hr>

{% include "includes/messages.html" %}

<div class="row">
    <form id="issue-udapte-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-lg-10 col-md-offset-1">

            {% if form.evaluation_comments.value %}
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default panel-danger"
                     style="background-color: #ffe6e6; margin-bottom: 10px;">
                    <div class="panel-body">
                        <strong>
                            <i class="fa fa-quote-left fa-3x fa-pull-left"
                               aria-hidden="true"></i>
                            La incidencia se encuentra en estado:
                            <i>'{{ form.instance.status.status|default_if_none:"Nueva" }}'</i>.
                            <br>
                            Concepto: {{ form.evaluation_comments.value }}
                        </strong>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="input-field col-sm-12 col-md-12 col-lg-12">
                <label>Reportado por:</label>
                {% for value, text in form.reporter.field.choices %}
                {% if value == form.reporter.value %}
                <h5>{{ text }}</h5>
                <input type="hidden" name="reporter" value="{{ value }}"/>
                {% endif %}
                {% endfor %}
            </div>
            <div class="input-field col-sm-12 col-md-12 col-lg-12">
                <label>Título: <span style="color: red;"> * </span> </label>
                {{ form.issue }}
                <br>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label>Descripción: <span style="color: red;"> * </span> </label>
                {{ form.description }}
                <br>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label>Pasos para reproducir: <span style="color: red;"> * </span> </label>
                {{ form.steps_to_reproduce }}
                <br>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-6 file-field input-field">
                    <label>Imagen1 (Opcional)</label>
                    {{ form.image1 }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 file-field input-field">
                    <label>Imagen2 (Opcional)</label>
                    {{ form.image2 }}

                </div>
        </div>

        <div class="col-lg-10 col-md-10 col-md-offset-1">
            <hr>
            <div class="col-md-3">
                <div>
                <label>Software: <span style="color: red;"> * </span> </label>
                {{ form.software }}
                </div>
                <div>
                <label>Sede: <span style="color: red;"> * </span> </label>
                {{ form.headquarter }}
                </div>
                <div>
                <label>Navegador: <span style="color: red;"> * </span> </label>
                {{ form.browser }}
                </div>
                <div>
                <label>Sistema operativo: <span style="color: red;"> * </span> </label>
                {{ form.os }}
                </div>
            </div>
            <div class="col-md-3">
                <div>
                <label>Prioridad: <span style="color: red;"> * </span> </label>
                {{ form.priority }}
                </div>
                <div>
                <label>Tipo: <span style="color: red;"> * </span> </label>
                {{ form.type_issue }}
                </div>
                <div>
                <label>Categoría: <span style="color: red;"> * </span> </label>
                {{ form.category_issue }}
                </div>
                <div>
                <label>Reproducibilidad: <span style="color: red;"> * </span> </label>
                {{ form.reproducibility_issue }}
                    <br>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    {% if form.dev and form.status and form.ticket and form.evaluation_comments %}
                          <div class="col-md-12">
                              <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <strong>Visible por Administradores y
                                          desarrolladores</strong>
                                  </div>
                                  <div class="panel-body">
                                      <label>Asignar a: <span style="color: red;"> * </span> </label>
                                      {{ form.dev }}
                                      <label>Estado: <span style="color: red;"> * </span> </label>
                                      {{ form.status }}
                                      <label>Ticket:</label>
                                      {{ form.ticket }}
                                  </div>
                              </div>
                              <input type="hidden" id="is_admin" value="true">
                          </div>
                        {% else %}
                        <input type="hidden" id="is_admin" value="false">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-10 ">
            <a href="{% url 'home' %}" id="btn-to-back" class="btn btn-primary notify">
            <i class="fa fa-arrow-left"></i> Volver
            </a>
            <button class="btn btn-success notify" type="button" id="btn-to-save" onclick="validateFormNewUpdateIssue()">
              <i class="fa fa-save"></i> Actualizar incidencia
            </button>
        </div>
            <div class="col-md-12">
                <hr>
                <div class="panel panel-primary">
                    <a class="btn btn-default pull-right" data-toggle="modal"
                                                            data-target="#myModal">
                        <i class="fa fa-th-list"></i>
                        Agregar Comentario
                    </a>
                    <div class="panel-heading">
                        <strong>Comentarios registrados</strong>
                    </div>
                    <div class="panel-body" style="max-height: 400px; overflow: scroll;">
                        <div id="list-comments"></div>
                        <div id="content-comments">
                            {% for comment in comments %}
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        {{ comment.user.first_name }}
                                        {{ comment.user.last_name }}
                                        </br>
                                        <small>
                                            {{comment.created_at | date:"d/m/Y H:i"}}
                                        </small>
                                    </div>
                                    <div class="panel-body">
                                        {{ comment.comment }}
                                    </div>
                                </div>
                            {% empty %}
                                <span class="label label-warning">
                                    No se han registrado comentarios
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
  function validateForm(){
    var validate = 0;
    var msj_error = "<ul>";

    //Validate Title
    if($("#id_issue").val() == ""){
      validate++;
      msj_error += "<li> El <b>Título</b> de la incidencia. </li>";
    }

    //Validate Desciption
    if($("#id_description").val() == ""){
      validate++;
      msj_error += "<li> La <b>Descripción</b> es requerida. </li>";
    }

    //Validate steps_to_reproduce
    if($("#id_steps_to_reproduce").val() == ""){
      validate++;
      msj_error += "<li> La <b>Descripción</b> es requerida. </li>";
    }

    //Validate Software
    if($("#id_software").val() == ""){
      validate++;
      msj_error += "<li> El <b>Software</b> es requerido. </li>";
    }

    //Validate Sede
    if($("#id_headquarter").val() == ""){
      validate++;
      msj_error += "<li> La <b>Sede</b> es requerida. </li>";
    }

    //Validate Navegador
    if($("#id_browser").val() == ""){
      validate++;
      msj_error += "<li> El <b>Navegador</b> es requerido. </li>";
    }

    //Validate OS
    if($("#id_os").val() == ""){
      validate++;
      msj_error += "<li> El <b>Sistema operativo</b> es requerido. </li>";
    }

    //Validate priority
    if($("#id_priority").val() == ""){
      validate++;
      msj_error += "<li> La <b>Prioridad</b> es requerida. </li>";
    }

    //Validate type_issue
    if($("#id_type_issue").val() == ""){
      validate++;
      msj_error += "<li> El <b>Tipo de Incidencia</b> es requerido. </li>";
    }

    //Validate Category_issue
    if($("#id_category_issue").val() == ""){
      validate++;
      msj_error += "<li> La <b>Categoría</b> es requerida. </li>";
    }

    //Validate Reproducibility_issue
    if($("#id_reproducibility_issue").val() == ""){
      validate++;
      msj_error += "<li> La <b>Reproducibilidad</b> es requerida. </li>";
    }

    var is_admin = $("#is_admin").val();
    if(is_admin == "true"){
      if($("#id_dev").val() == ""){
        validate++;
        msj_error += "<li> Debe asignar un <b>Responsable</b> a la incidencia. </li></ul>";
        sendForm2(validate, msj_error);
       }else{
         sendForm2(validate, msj_error);
       }
    }else{
       msj_error += "</ul>";
       sendForm2(validate, msj_error);
    }
  }

  function sendForm2(validate, msj_error){
    if(validate == 0){
      $("#btn-to-back").hide();
      $("#btn-to-save").attr('disabled', 'true');
      alertify.success("<i class='fa fa-spin fa-spinner'></i> Enviando un email de notificación.");
      $("#issue-udapte-form").submit();
    }else{
      alertify.error("Debe llenar los campos requeridos: <br/><br/>" + msj_error);
    }

  }
</script>

{% endblock %}
