<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                <i class="fa fa-home"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Incidencias</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if perms.bugtracker.can_view_results_evaluations %}
                <li>
                    <a href="{% url 'issue_evaluation_results' %}">
                        Resultados de Evaluación del Servicio
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'profile' user.username %}">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                      Salir <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>