body{

}

figure{
    border: 1px solid #f2f2f2;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

figcaption{
    text-align: center;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
}

.message_error{
    color: darkred;
}

.message_success{
    color: darkgreen;
}